<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
 
    <!-- 设定网站服务器以指定预设兼容性模式 Lionden -->
    <httpProtocol>
      <customHeaders>
        <clear />
        <add name="X-UA-Compatible" value="IE=edge,chrome=1" />
      </customHeaders>
    </httpProtocol>
 
  </system.webServer>
 
</configuration>