@charset "utf-8";
.mr50{margin-right:50px;}
.mb20{margin-bottom:20px;}
.flexslider{position:relative; height:540px; overflow:hidden;}
.slides{position:relative;z-index:0; overflow:hidden;}
.scroll{max-width:100%;}

.tuijcon .title{position:absolute;bottom:0;left:0;width:100%;box-sizing:border-box;text-align:center;padding-right:5px;}
.tuijcon li:nth-of-type(3) .title{padding-right:0;}
.tuijcon .title .txt{padding:10px;background-color:rgba(0,0,0,0.4);}
.tuijcon .more{position:absolute;right:10px;bottom:10px;}
.tuijcon .tyyssgb{height:0px;}



.flexslider1 ol{ display:none;}
.tuij{width:1170px; margin:0 auto 30px;}
.tith{ height:57px; color:#3a3a3a; font-size:50px;font-family:"微软雅黑"; border-left:5px solid #0081d4; padding-left:15px; line-height:37px; margin-bottom:8px;}
.tith2{ height:37px;border-left:5px solid #0081d4; padding-left:15px; line-height:37px; margin-bottom:8px;}
.tith2 .fl{color:#3a3a3a; font-size:20px;font-family:"微软雅黑";}
.tith2 .fr{background:#70a4bd;color:#fff;font-size:10px;padding:0 5px;border-radius:2px;margin-top: 20px;height: 16px;line-height: 16px;text-decoration: none;}
.tuijcon{padding: 0px 0;}
.tuijcon li{ float:left; width:33.33333333333%; height:auto;overflow:hidden; position:relative;}
.tuijcon li.fst{width:100%;}
.tuijcon li img{width: 100%;vertical-align: bottom;}

.tuijcon li .explantj span{ font-size:18px; display:block; margin-bottom:20px;}
.tuijcon li .explantj span{ font-size:18px; color:#fff; text-decoration:none;}
.tuijcon li .explantj span img{ vertical-align:middle; display:inline-block; margin-left:5px;width: auto;}

