body {
}
.navbar{margin-bottom:0;}
/*banner图*/
.banner-img{
  height: 338px;
  background-image: url(../img/newsReport/news-banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color:#373737;
}
.banner-img h1{margin-top:134px;font-size:48px;}
/*新闻列表*/
.news-block{padding-bottom:15px;border-bottom:1px dashed #373737;margin-bottom:15px;overflow:auto;position:relative;}
.news-block-l img{max-width:100%;}
.news-block-r{padding-left:222px;}
.news-title h4{margin-top:0;}
/*.news-type{padding:0px 5px;color:#fff;}
.news-red{background-color:#ff8b8b;}
.news-yellow{background-color:#ff9b1a;}
.news-green{background-color:#58c83a;}*/
.news-desc{color:#777;height:81px;overflow:hidden;}
.news-from{color:#777;  position: absolute;
  bottom: 15px;
  left: 222px;}
.news-date{color:#777;  position: absolute;
  bottom: 15px;
  right: 0;}

@media (max-width:767px){
    .news-title h4{font-size:16px;}
        .banner-img h1{font-size:36px;margin-top:84px;}
    .banner-img h3{font-size:20px;}
    .banner-img{height:238px}
}
@media (max-width:480px){
    .banner-img h1{font-size:30px;margin-top:40px;}
    .banner-img h3{font-size:18px;}
    .banner-img{height:150px}
    .news-desc{display:none;}
    .news-date{bottom:10px;font-size:12px;}
    .news-block{margin-bottom:10px;padding-bottom:10px;}
    .news-block-l img{width:150px;}
    .news-block-r {
  padding-left: 160px;
}
        .news-from {
left: 160px;bottom:10px;
font-size:12px;
}
    .news-title h4 {
  font-size: 14px;
}
}
@media (max-width:400px) {
    .news-block-l img{width:100px;}
        .news-block-r {
  padding-left: 105px;
}
        .news-from {
left: 105px;
}
}