/*底部*/
.tail{background-color:#2e3133;padding:30px 0;color:#666;position:relative}
.tail a{color:#999;}
.tail a:hover{color:#219fda;}
.tail-block{float:left;padding-right:10px;}
.tail-block:nth-of-type(3){padding-right:0;}
.tail-common h3{font-size:30px;margin-bottom:20px;margin-top:10px;}
.tail-common ul li{padding-bottom:6px;color:#999}
.tail-common.tail-left ul li{padding-bottom:18px;}
.tail-right{text-align:right;width:36%;}
.tail-right h3{color:#219fda;}
.tail-center{text-align:center;width:30%;}
.tail-center a{color:#666;}
.tail-left{width:34%;}
.tail-left h3{color:#219fda;}
.tail-line{display:inline-block;margin:0 5px;}
.tail-share{margin: 0 auto;width: 132px;}


/*回到顶部*/
.relative{position:relative;top:0;left:0;}
.pb6{padding-bottom:6px;}
.asid_share{position:fixed;width:60px;bottom:15%;right:0;z-index:890;}
*html #asid_share{position:absolute;top:expression(documentElement.scrollTop + "px");margin:300px 0 0 0;}

.asid_share .asid_share_box{width:100%;margin-bottom:3px;background:#d9d9d9;text-align:center;}
.asid_share .asid_share_box a{display:block;height:60px;padding-top:0px;}
.asid_share .asid_share_box a:hover{background:#219fda;text-decoration:none;}
.asid_share .asid_share_box a:hover .asid_title,.asid_share .asid_share_box .asid_title{color:#fff;font-size:12px;display:block;padding-left:6px;line-height:60px;width:60px;}
.asid_share .red_bag{background:#219fda;text-decoration:none;}
.asid_share .asid_sha_layer{border:1px solid #ccc;background:#fff;position:absolute;right:47px;bottom:-44px;}

.sweep_img{padding:10px;}
.asid_share_box .asid_help_list li{line-height:26px;height:26px;background:url(../img/dian.png) no-repeat 6px 12px;}
.asid_share_box .asid_help_list li a{line-height:26px;height:26px;padding:0 0 0 14px;text-align:left;}
.asid_help_list li a:hover{color:#fff;}

.asid_share_triangle{width:12px;height:40px;position:absolute;right:45px;bottom:-12px;z-index:100;}
.border_sj,.con_sj{display:block;width:18px;height:28px;font-size:18px;overflow:hidden;font-family: SimSun;}
.border_sj{color:#ccc;font-style:normal;}
.con_sj{color:white;margin:-14px -2px 0 0;margin:-28px 0 0 -2px;}
/*微博*/
/* 尾部栏 */
.tailFx{ padding-top:10px;}

.tailFx li{ float:left; width:36px; height:36px; margin-right:8px;}

.tailFx li a{ display:block; width:36px; height:36px; margin: 0 auto; background:url(../img/index/moreLink.png) no-repeat;}

.tailFx li a.icon01{ background-position:0 0}

.tailFx li a.icon02{ background-position:-44px 0}

.tailFx li a.icon03{ background-position:-88px 0}

.tailFx li a.icon04{ background-position:-132px 0}

.tailFx li a.icon05{ background-position:-176px 0}

.tailFx li a.icon01:hover{ background-position:0 -36px}

.tailFx li a.icon02:hover{ background-position:-44px -36px}

.tailFx li a.icon03:hover{ background-position:-88px -36px}

.tailFx li a.icon04:hover{ background-position:-132px -36px}

.tailFx li a.icon05:hover{ background-position:-176px -36px}
@media(max-width:767px){
    .tail-common h3{font-size:24px;}
    .tail-common ul li{padding-bottom:10px;}
    #asid_share{display:none;}
}
@media(max-width:480px){
    .tail-block{padding-right:0;}
    .tail-common h3{font-size:18px;}
    .tail-left , .tail-center , .tail-right{width:100%;text-align:left;}
    .tail-share{margin:0;}
    tail{padding:15px 0;}
}